body {
  background: $main-bg;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.box {
  background: $card-bg;
  display: flex;
  flex-direction: column-reverse;
  border-radius: toRem(10);
  width: 80%;

  &__text {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding:  toRem(32, 16, 32, 16);

    &-heading {
      color: $main-heading;
      font-family: $inter;
      font-size: toRem(30.4);
      font-weight: 700;
      margin-bottom: toRem(32);
      letter-spacing: toRem(1.008);
    }
  }

  &__secondarypart-paragraph {
    color: $main-paragraph;
    font-family: $inter;
    line-height: toRem(24);
    font-size: toRem(16);
    margin-bottom: toRem(32);
    padding-left: toRem(28.8);
    padding-right: toRem(28.8);
  }

  &__secondarypart-ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;

    li + li {
      margin-top: toRem(32);
    }
  }

  &__secondarypart-heading {
      color: $main-heading;
      font-family: $inter;
  }  

  &__secondarypart-ulp {
    color: $stat-headings;
    font-family: $lexend;
    text-transform: uppercase;
    font-size: toRem(12.8);
  }
}

.box__content-image {
  height: 260px;
  max-height: 400px;
  background: linear-gradient(90deg, rgba(125, 2, 201, 0.5)),
  url(/assets/img/image-header-mobile.jpg);
  background-size: cover;
  border-radius: toRem(10, 10, 0, 0);
}


.insight {
  color: $accent;
}

@media (min-width: $break-desktop) {
  .box {
    flex-direction: row;

    &__text {
      margin-right: toRem(16);
      margin-top: toRem(48);
      padding-bottom: 0;

      &-heading {
        text-align: left;
        padding-left: toRem(80);
        font-size: toRem(36.8);
      }
    }

    &__secondarypart-paragraph {
      text-align: left;
      padding-left: toRem(80);
      width: 70%; 
    }

    &__secondarypart-ul {
      flex-direction: row;
      padding-left: toRem(80);
      margin-top: toRem(64);
      
      li + li {
        margin-top: 0;
        margin-left: toRem(80);
      }
    }

    .box__content-image {
      width: 100%;
      height: 1000px;
      background: linear-gradient(90deg, rgba(125, 2, 201, 0.5)),
      url(/assets/img/image-header-desktop.jpg);
      background-size: cover;
      border-radius: toRem(0, 10, 10, 0);
    }
  }
}